[2019-01-15 14:39] bantya opened #1 "Theme not showing up correctly"
After a lot of time, some robust and elegant looking theme is in the market now. **Meetio** seems to have immense potential to be the next **Material Theme**, but there are some hiccups:

I installed Meetio twice:
1. Manual **.zip** installation
2. Using Sublime **PackageControl: Add Repository**

⭕ For first one, the **Activate** command wasn't showing up, just the **Meetio: Edit Settings** showe

[2019-01-15 14:52] mauroreisvieira commented on #1
@bantya thanks for your feedback. I don't have way to test Meetio in Window and is very nice for me to have this comments, help me to make this theme more power full in all Operating Systems.
I build this Theme for all Sublime Text user!

Package Control install its in my list during this week I go make the PR to Package Control repository.
About the issue, I forgot to indicate in Readme file when

[2019-01-18 17:54] bantya commented on #1
Ask for any help needed.

Just installed the updated theme. Now, it looks something like:

Just installed updated theme
![image](https://user-images.githubusercontent.com/16685565/51403955-0d057e00-1b78-11e9-8b7f-9d4c29b288a6.png)

[2019-01-18 18:21] mauroreisvieira commented on #1
Hu @bantya you rename the folder?

[2019-01-20 08:40] bantya commented on #1
Yes.

[2019-01-21 09:04] pedroladeira commented on #1
Hello.
I have the same problem, and you can see a pick of my command line, with some errors when I change the theme.

Nice theme. Great work

![sublime_error](https://user-images.githubusercontent.com/4301649/51463595-7e515680-1d5b-11e9-8c93-e646bb54ea87.JPG)

[2019-01-23 09:49] pedroladeira commented on #1
Hello,

I already fix the problem, just assert the path of the theme in package control.
I had the package in the **"..\AppData\Roaming\Sublime Text 3\Packages\Meetio\meetio-master\"** path instead of **"..\AppData\Roaming\Sublime Text 3\Packages\Meetio"**

Thanks, once again

[2019-01-23 10:43] mauroreisvieira commented on #1
Thanks @pedroladeira. I guess when Meetio go to Package Control this problem disappear.

[2019-01-23 13:42] mauroreisvieira commented on #1
@bantya think that close this question. I do not find any way to fix this problem on my side. I think when this theme is in package control, the problem maybe solved.

[2019-01-24 15:34] #1 closed, assigned to mauroreisvieira

[2019-01-28 20:30] bantya commented on #1
Good to hear and thanks again for the theme. 🙂

[2019-02-19 00:30] zpreston123 opened #2 "Not Searchable in Sublime"
Noticed this theme was released on Package Control today, but unable to search it in Sublime.

Not sure if this is a theme-related bug.

Looking forward to using it!

[2019-02-19 00:34] mauroreisvieira commented on #2
Hi @zpreston123 its because you already have the theme in your Package folder.
Please remove the Meetio folder inside your Package folder and search again in Package Control.

:)

[2019-02-19 01:09] zpreston123 commented on #2
@mauroreisvieira Just checked and it's not in my Packages folder.

[2019-02-19 09:57] mauroreisvieira commented on #2
Hum :(

@zpreston123  what version of Sublime you have installed?

[2019-02-19 12:11] zpreston123 commented on #2
@mauroreisvieira Version 3.1.1, build 3176.

[2019-02-19 12:22] mauroreisvieira commented on #2
@zpreston123 that's the problem, Meetio only works for versions **bigger than 3176**.

I'm already working on a version that is supported by older versions.
The point is that the proposition of Meetio is to be as flexible as possible and can rewrite values of the variables in a simple way, but the versions lower to 3176 do **not support this possibility**.

[2019-02-28 18:51] Alexey-T opened #5 "For another editor?"
Good theme, thanks. I like many settings.
Can you make analog for CudaText editor, please?
http://wiki.freepascal.org/CudaText#Color_themes

[2019-03-01 09:07] mauroreisvieira commented on #5
Hi @Alexey-T maybe in the future. I don't know CudaText.

[2019-03-08 03:03] abathur opened #6 "close/dirty icons and user show_tab_close_buttons preference"
Promising theme. Thanks for investing the time in it.

I was a little confused by the dirty icons at first, since I have `show_tab_close_buttons` set to `false` (mostly because I tend to use quite a few tabs, and in aggregate the icons can consume a lot of space).

Is it possible to just use the accent color on the tab label when a tab is dirty and `show_tab_close_buttons` is disabled?

[2019-03-08 03:37] abathur opened #7 "customization/spacing around inputs"
I was looking for various parameters to tweak to see if I could cut down on the size of the find panel (and, for that matter, the console) and found some of the options/effects a little counter-intuitive. For context, I'm trying to cut it down to something a little more like the fairly tight find panel in Lyte: [
![image](https://user-images.githubusercontent.com/2548365/54005390-df23cb00-411e-11e

[2019-03-08 09:49] mauroreisvieira commented on #6
HI @abathur thanks for you feedback, I will check this possibility.

[2019-03-08 20:03] abathur commented on #6
I guess technically it should only work that way if `highlight_modified_tabs` is also `true` :)

[2019-03-12 17:37] mauroreisvieira commented on #6
Meetio 1.7.0 its out! 🎉

Check the new's features.

[2019-03-12 17:37] #6 closed, assigned to nobody

[2019-03-13 11:32] zpreston123 commented on #2
@mauroreisvieira Installed the new Sublime stable build and searched this theme - found it!

Looks great, thank you!

[2019-03-13 12:21] #5 closed, assigned to nobody

[2019-03-13 12:22] mauroreisvieira commented on #7
I guess this problem is solved with new version. I'm waiting for you feedback to close this issue.

[2019-03-13 15:59] abathur commented on #7
This fixes the border-color issue: <img width="905" alt="Screen Shot 2019-03-13 at 9 07 16 AM" src="https://user-images.githubusercontent.com/2548365/54285543-2de2c200-4570-11e9-8e65-a24b19ef3724.png">

My comments on adjusting the size of the find panel are still relevant, but I can open a separate issue for that if you like.

I also noticed something a little odd while playing with the border si

[2019-03-13 16:20] mauroreisvieira commented on #7
@abathur It is not possible to define border in the Sublime. What I actually do is create a layer with a background, and then I change the margin of this container to look like a border. :(

[2019-03-13 16:22] mauroreisvieira commented on #2
Thanks a lot @zpreston123

[2019-03-13 16:22] #2 closed, assigned to nobody

[2019-03-13 16:30] abathur commented on #7
Playing with the input background color some more shows that I wasn't quite understanding everything going on. It looks like any pure background color obscures some blending or alpha within the input. Here's the input background at 1.0 and again at 0:

<img width="905" alt="Screen Shot 2019-03-13 at 11 27 00 AM" src="https://user-images.githubusercontent.com/2548365/54296723-6f309d00-4583-11e9-8e2

[2019-03-13 17:56] mauroreisvieira commented on #7
The status bar have a issue, and because of that the color appear different, I will fix this.

[2019-03-14 16:01] mauroreisvieira commented on #7
@abathur the bug is solver. But related wirt colors of panel and status bar are differente is related in a overlapping containers. I cant't solve this :/

[2019-03-14 16:54] abathur commented on #7
Oh--not concerned about the status bar there, sorry--just that the input panel background and the input background itself are set to the same color values but didn't have the same color.

I also noticed some color/spacing issues with the list input menus used for "goto anything", "command palette", plugin menus, and so on (let me know if you'd prefer I edit this out and move it to a new thread).

[2019-03-17 07:41] pulcinello opened #8 "Any way to customize the selected bg of the command palette?"
First, thanks for making this wonderful theme! I wonder if there's an option to customize the selected bg of the command palette?
![Screenshot from 2019-03-17 14 34 53](https://user-images.githubusercontent.com/3975367/54486951-74b31d80-48ca-11e9-99d0-7e2d48db35d7.png)

[2019-03-18 14:16] mauroreisvieira commented on #7
Hi @abathur can you send me you Meetio Theme configurations to try in my computer and fix all issues.

[2019-03-18 14:17] mauroreisvieira commented on #8
Hi @pulcinello thanks for your feedback.
About your issue, I'm working on this this issue is always reported on #7 I hope to fix this during this week.

Thanks again.

[2019-03-18 14:18] #8 closed, assigned to nobody

[2019-03-18 20:28] mauroreisvieira commented on #7
@abathur and @pulcinello solved in new version 1.8.0.

[2019-03-18 20:28] #7 closed, assigned to nobody

[2019-04-20 17:35] nicksspirit opened #10 "no such prop layer.tint when matching overlay_control against overlay_control"
Whenever I use the keyboard shortcut for access the command pallete, I keep on getting this message being logged into the sublime console.

`no such prop layer.tint when matching overlay_control against overlay_control`

[2019-04-20 17:37] nicksspirit commented on #10
Actually I noticed that it also gets logged as I hover over the elements in the command pallete too

[2019-04-22 09:18] mauroreisvieira commented on #10
Hi @OdinTech3 I will check this. Ty for you feedback.

[2019-05-03 11:03] mauroreisvieira commented on #10
Hi @OdinTech3 issue solved in [version 2.0.1](https://github.com/mauroreisvieira/meetio/releases/tag/2.0.1)

[2019-05-03 11:03] #10 closed, assigned to nobody

[2019-05-13 08:04] f8ttyc8t opened #11 "Drawing issues - mulitple files stay selected"
I'm using latest version of both Sublime Text (3.2.1 Build 3207) as well as lates Meetio theme being available using package control.

And I'm loving Meetio, it's supreme - thanks for crafting it!

Unfortunately:
Most of time, using Meetio-Lighter color scheme (having Meetio theme selected too)  is causing multiple items of side bar are drawn as if being selected. Please see items marked using a "

[2019-05-13 08:09] mauroreisvieira commented on #11
Hi @f8ttyc8t thanks for your feedback, is very important for me. I will check this issue.

TY

[2019-05-13 08:15] f8ttyc8t commented on #11
Thanks in advance!

[2019-05-14 23:37] mauroreisvieira commented on #11
Hi @f8ttyc8t I can't reproduz the error, is very stange is only appear on Meetio Lighter, because this issue, is related with the theme not the scheme, but the theme is the same for all scheme variations its only adaptes.
But I will continue to search for this bug and fix this.

only to keep you aligned.

[2019-05-15 06:32] f8ttyc8t commented on #11
@mauroreisvieira thanks for investigating it!

I think it's related to using SolarizeToggle package.
As soon I install and use it, light schema is causing these glitches.

Easy to reproduce - use user settings for SolarizeToggle package:

[code]

(Too bad, because SolarizeToggle it's really a precious tool for me)

[2019-05-16 10:41] mauroreisvieira commented on #11
@f8ttyc8t one question, why do you need this package to toggle your scheme?

[2019-05-16 10:43] f8ttyc8t commented on #11
@mauroreisvieira I've mapped F12 to quick toggle theme/scheme.
So I'm able to adapt UI to fit my requirements based on environmental conditions (daylight/cloudy/sunny/night/...).
So I mainly need it/used it for convenience reasons.

[2019-05-16 10:49] mauroreisvieira commented on #11
Ok. I will install this package and try to see the issue.

[2019-05-16 11:00] f8ttyc8t commented on #11
@mauroreisvieira thanks! Really appreciate that!

[2019-05-16 11:46] f8ttyc8t commented on #11
I've tried to reproduce it using fresh&clean SB installation.
Then I installed Meetio using package manager and activated light theme/color scheme.
GUI became disordered as soon SB window gets resized, moving mouse cursor over e.g. filenames fixes related regions.

![SB-messy-GUI](https://user-images.githubusercontent.com/1023438/57851430-d9aec500-77e0-11e9-9cf3-fc5ee4aa2b11.png)

[2019-05-16 18:50] f8ttyc8t commented on #11
Need to correct my initial statement:
visual glitches not only occur in light but also in dark theme,
(Did not notice it earlier due to my monitor settings...)

Sorry for causing this!

[2019-05-19 11:28] mauroreisvieira commented on #11
Hi again @f8ttyc8t your OS is window right?

[2019-05-20 06:28] f8ttyc8t commented on #11
@mauroreisvieira thanks! Really appreciate you're still working on it!

Yes, I have this issue on multiple Windows-machines, each of them running Windows 10.

[2019-05-20 09:27] mauroreisvieira commented on #11
Yes, in OSX I can't reproduce this issue, but during this week I will try in Windows OS.

[2019-05-20 10:10] f8ttyc8t commented on #11
Confirming that: did not happen on neither Linux nor Mac.

[2019-05-20 16:19] mauroreisvieira commented on #11
@f8ttyc8t yap. I will check.

[2019-05-29 11:55] f8ttyc8t commented on #11
@mauroreisvieira  - did you find anything related to problem?
Would be cool to get this sorted out...

[2019-05-30 09:16] mauroreisvieira commented on #11
Hi @f8ttyc8t sorry for this delay. But I don't have much time and a need to prepare the environment to fix this in a window machine.

[2019-05-31 06:25] f8ttyc8t commented on #11
@mauroreisvieira thanks for still caring about it - really appreciate this!

Please let me know if you need some help.

[2019-06-10 16:24] pykong opened #12 "ColorScheme - Style python type hints"
@michaelblyons Thanks for putting up Meetio! It is an awesome theme + scheme collection.

With python [type hints](https://realpython.com/python-type-checking/), introduced with version `3.6`, becoming increasingly used any color scheme would profit from granting them special status.

**Consider this example:**
![image](https://user-images.githubusercontent.com/20211140/59210147-2ce02180-8bad-11e9

[2019-06-10 16:40] michaelblyons commented on #12
I don't actually have anything to do with this theme. 😄

Here's the text, for easier copypasta:

[code]

It looks like it's _possible_ to support an alternative style for the annotations, but it would require Meetio to use a `meta` (namely `meta.function.parameters.annotation`) scope. It's not suggested practice for color schemes to do that.

If you'd like to do such a thing just for yourself, tak

[2019-06-10 17:04] pykong commented on #12
Rules like those could serve as a starting point:

[code]

[2019-06-11 16:02] mauroreisvieira commented on #12
Hi @pykong, during this week I try to launch new version of Meetio with some bug fix and a Python syntax improves.

<img width="586" alt="Screenshot 2019-06-11 at 17 01 11" src="https://user-images.githubusercontent.com/3084774/59288032-bd306c00-8c6a-11e9-9db2-08b5ca8584e6.png">

any more suggestions?

[2019-06-11 17:13] pykong commented on #12
@mauroreisvieira

That coloring of the type hints looks awesome!
Looking forward to it! :)

Thanks!

[2019-06-11 20:26] mauroreisvieira commented on #12
@pykong version [2.1.0](https://github.com/mauroreisvieira/meetio/releases/tag/2.1.0) is out!

[2019-06-11 20:27] mauroreisvieira commented on #11
@pykong version [2.1.0](https://github.com/mauroreisvieira/meetio/releases/tag/2.1.0) is out!

Please check if the issue is solved!

TY

[2019-06-12 06:59] f8ttyc8t commented on #11
@mauroreisvieira Super - it seems to work!
Thank you very much for putting effort into this - will check a bit and come back later if there are still some glitches.

Thanks again for this fantastic package!

[2019-06-12 07:48] mauroreisvieira commented on #11
TY!

[2019-06-12 07:48] #11 closed, assigned to nobody

[2019-06-12 15:31] pykong commented on #12
That was fast. Thanks!

`Meetio-Cobalt` seems to be broken for me. It does not update.
 I am not sure about the reasons. Need to investigate.

The other Meetio color schemes work just fine.

[2019-06-12 15:35] pykong opened #14 "ColorScheme - Suggestions for other color schemes to adopt"
I like how Meetio tune a variety of color schemes in a way to keep them distincitve but  yet make them recognizable as part of the "Meetio family". It is a work of a good designer.

Maybe other color scheme out there might make a great addition to the Meetio family as well.

Some candidates I deem worthy of this honor are:
- Seti
- Base16
- Mariana

[2019-06-12 16:04] mauroreisvieira commented on #12
Hum...

It's very strange... I will investigate..

<img width="1131" alt="Screenshot 2019-06-12 at 17 03 31" src="https://user-images.githubusercontent.com/3084774/59367517-2c25c780-8d34-11e9-8c55-6f46048016ab.png">

[2019-06-12 16:10] pykong opened #15 "Enhancement: Donor option?"
I feel a great work as Meetio deserves to be supported.

Did I miss a donor link in the `README.md`?

If GitHub grants you a beta in the sponsor program you can also add a `FUNDING.yml`, to allow people to directly donate via GitHub:

![image](https://user-images.githubusercontent.com/20211140/59367936-6fd0ff00-8d3d-11e9-97d7-60a25773a4f8.png)

[2019-06-12 16:56] mauroreisvieira commented on #15
Thanks @pykong.

Yes I thought about it, but I do not see the need for it anymore, I really like Sublime Text and I like developers to use ST, so it made Meetio Theme.

The idea of this theme is to follow the news of ST allowing an easy customization based on the taste of each one.
Contrary to what happened with the Material Theme I do not have the idea to close a project, in the last case I pass

[2019-06-12 18:17] pykong commented on #15
That is very honorable of you. Really great to see your enthusiasm for Sublime Text.
Keep on the good work. Looking forward to making Meetio even greater with you.

[2019-06-12 18:17] #15 closed, assigned to nobody

[2019-06-12 18:25] pykong opened #16 "ColorScheme - Python name args coloring"
Passing named arguments deserves some better coloring to **differentiate keyword and value**:

![image](https://user-images.githubusercontent.com/20211140/59375997-926c1380-8d4f-11e9-98ed-cd6f6239031a.png)

The declaration does a better job in this regard:

![image](https://user-images.githubusercontent.com/20211140/59376102-c5160c00-8d4f-11e9-9779-5e8de17ed0fd.png)

[2019-06-13 08:14] mauroreisvieira commented on #14
Hi @pykong yes, I had already thought about the Marian version, because I see lot of developers working with this scheme.

TY for your feedback.

[2019-06-13 08:15] mauroreisvieira commented on #16
TY, I will work on this.

[2019-06-17 17:16] mauroreisvieira commented on #16
Hi @pykong

<img width="288" alt="Screenshot 2019-06-17 at 18 15 39" src="https://user-images.githubusercontent.com/3084774/59623403-f7e34a00-912b-11e9-9c70-f35a6797158a.png">

on next version...

[2019-06-17 17:18] mauroreisvieira commented on #14
Meetio-Mariana on next version...

<img width="780" alt="Screenshot 2019-06-17 at 18 18 19" src="https://user-images.githubusercontent.com/3084774/59623556-54466980-912c-11e9-82cc-07d9089693e5.png">

[2019-06-17 17:24] #12 closed, assigned to nobody

[2019-06-17 17:30] pykong commented on #14
Looks awesome! Thanks for the teaser!

[2019-06-17 17:31] pykong commented on #16
Much much more readable! Thanks. Looking forward to it!

[2019-06-18 06:48] pykong opened #17 "ColorScheme - Support semantic highlighting"
Since version 3.1 Sublime Text offers native support for semantic highlighting, a feature formerly requiring [ColorCoder](https://github.com/vprimachenko/Sublime-Colorcoder).

See: [Hashed Syntax Highlighting](https://www.sublimetext.com/docs/3/color_schemes.html#hashed_syntax_highlighting) (_aka Semantic Highlighting)_

I see a lot of potential for this feature to enhance readability/understabili

[2019-06-18 09:31] mauroreisvieira commented on #17
Hi @pykong at the moment I do not see great advantages in using Hash Syntax Highlighting.
I at the beginning of Meetio development did some testing of this approach, but I found it a mess.

Because it's strange for me to assign different colors to the same or similar scopes.

Just change the scheme to Celeste that we realize this.

<img width="476" alt="Screenshot 2019-06-18 at 10 30 18" src="http

[2019-06-18 10:21] pykong commented on #17
As I said, it is a question of how to delicately balance differentiability of colours against preventing the color scheme to become a mess.

Of course at hand we want to stress the similarity of related syntax element, while at the same time allowing individual instances to be differentiated.

I just close this issue for now. Feel free to reopen if you ever want to give it another shot.

[2019-06-18 10:21] #17 closed, assigned to nobody

[2019-06-18 18:02] pykong opened #18 "ColorScheme - Style all type hints"
Addendum to #12

Type hints can not only be part of a function's signature but actually any variable declaration.
Hence, it would be great if all type hints received the improved styling.

![image](https://user-images.githubusercontent.com/20211140/59707784-a1493f00-9203-11e9-8aac-ac23f45a5f0d.png)

[2019-06-23 16:58] pykong opened #19 "ColorScheme - Make selections in mini map more visible"
I like the selections in the minimap to stand out more.
Consider the following screenshot. Can you recognize which part of the text is currently selected? I can not (and there are definitely selections). Hence, this is a point of improvement.

![image](https://user-images.githubusercontent.com/20211140/59979458-881c0600-95e8-11e9-8ee7-cd0f60ae6310.png)

[2019-06-23 17:03] pykong commented on #19
It would be also great to more visibly color other instances of the currently hovered word.

[2019-06-24 12:14] mauroreisvieira commented on #19
Hi @pykong I can't change mini map, only the bacground of currently section selected.

[2019-06-24 18:18] pykong commented on #19
@mauroreisvieira thanks for the fast feedback on this issue.
It is unfortunate that `Sublime Text` does not support a more fine-grained control for allowing us to address the minimap coloring separately.

Hence I am closing this for now.

[2019-06-24 18:18] #19 closed, assigned to nobody

[2019-06-25 08:45] mauroreisvieira commented on #14
Check new version.

[2019-06-25 08:45] #14 closed, assigned to nobody

[2019-06-25 08:45] mauroreisvieira commented on #18
Check new version.

[2019-06-25 08:46] mauroreisvieira commented on #16
Check new version.

[2019-06-25 16:47] pykong commented on #16
Looks absolutely stunning Thank You very much!

[2019-06-25 16:47] #16 closed, assigned to nobody

[2019-06-25 16:48] pykong commented on #18
It looks great. Thank you!

[2019-06-25 16:48] #18 closed, assigned to nobody

[2019-06-25 16:49] pykong commented on #14
The muted colors of your Marianna adaption are very pleasing to my eyes while being very functional.

[2019-07-20 00:34] pykong opened #20 "Enhancement - Custom Git Badges"
What about adding custom git badges that are more descriptive than the default circle and chevron symbols Sublime Text offers.

See:
https://packagecontrol.io/packages/Git%20badges%20like%20VS%20Code

[2019-07-20 11:16] mauroreisvieira commented on #20
It's a god idea.

I will test that.

[2019-07-23 11:03] mauroreisvieira commented on #20
Hi @pykong check new version [2.4.0](https://github.com/mauroreisvieira/meetio/releases/tag/2.4.0)

TY for your suggestion.

[2019-07-23 16:06] pykong commented on #20
Looks aweseme and is so much more understandable than ST's default icons.
Keep on the good work!

[2019-07-23 16:06] #20 closed, assigned to mauroreisvieira

[2019-07-26 21:09] aronzillo opened #21 "How to change the space between the sidebar elements?"
Currently the default theme shows the sidebar like this:

<img width="286" alt="Captura de Pantalla 2019-07-26 a la(s) 16 04 42" src="https://user-images.githubusercontent.com/12212275/61981528-8ebee400-afbf-11e9-9b3e-3d255a2ff02d.png">

But I would like it to be displayed this way

<img width="247" alt="Captura de Pantalla 2019-07-26 a la(s) 16 05 12" src="https://user-images.githubusercontent.co

[2019-07-26 22:44] mauroreisvieira commented on #21
Hi @aronzillo ! Yes, it's possible.

You can change anything in Meetio.

Paste the fowling code in : **Meetio Theme: Configuration**
[code]

But in the next release, you can change the `indent` directly in **variables**.

[2019-08-01 13:01] #21 closed, assigned to nobody

[2019-08-04 17:52] aronzillo commented on #21
Thanks!

[2019-08-09 22:20] nicksspirit opened #22 "Is it possible to style the title bar of sublime in windows"
Is it possible to style the title bar of sublime text in windows, similar to this [windows 10 theme for sublime](https://packagecontrol.io/packages/Theme%20-%20Windows%2010)

[2019-08-14 13:35] mauroreisvieira commented on #22
Hi @OdinTech3 sorry for the delay. I will check this ASAP.

[2019-08-15 06:05] nicksspirit commented on #22
Great thanks! You are doing great work here so no rush.

[2019-08-25 09:39] pykong commented on #19
I asked on the discord server about how to achieve this.
Indeed the response was negative. There currently does not seem a way to style the minimap differently from the text area.

[2019-10-25 11:10] f8ttyc8t opened #25 "Icons are missing/invalid - or my system isn't capable to handle them"
Hi!
Whenever I try to switch to Meetio theme (the latest ones, installed via "Meetion theme" by package manager), icons are missing/not shown.
Using recent Sublime Text Version (3.2.2, Build 3211) running on Windows 10, console shows errors below:

Unable to decode Packages/Meetio/assets/default/disclosure.png
Unable to decode Packages/Meetio/assets/default/disclosure_expanded.png
Unable to decode

[2019-10-25 11:12] f8ttyc8t commented on #25
Btw.: extracting ressouces (png files) using e.g. 7zip works, icons are white & transparent (see attached file).

![arrow_folder_open@3x](https://user-images.githubusercontent.com/1023438/67566865-0ae4d700-f729-11e9-8196-c9bb97c400fa.png)

[2019-10-25 15:45] mauroreisvieira commented on #25
Hi @f8ttyc8t I will launch the version 3.0.0 today, and I guess will be fix the path issues.

[2019-10-25 18:33] f8ttyc8t commented on #25
Great to hear! Looking forward to using it.

~~Btw.: problem mentioned seems to occur only on some (Windows-) installations.~~
(happens on other Windows machines too)

[2019-10-26 08:35] f8ttyc8t commented on #25
@mauroreisvieira - Using 3.0.2 on my Mac still causes problems (not checked on Windows yet).
Errors have changed, but are similar (only related to theme, not to color scheme which works well in my case):

Unable to decode Packages/Meetio-Theme/assets/arrow_left.png
Unable to decode Packages/Meetio-Theme/assets/vsc_untracked.png
Unable to decode Packages/Meetio-Theme/assets/vsc_modified.png
Unable

[2019-10-26 08:44] f8ttyc8t commented on #25
Think it might be related to using "Meetio Theme" vs "Meetio-Theme" as sub-part of path.
ST tries to open files based on folder "Meetio-Theme" where they are probably stored in "Meetio Theme" related folder (see attached screenshot, file vcs_modified.png)

Hope I could be of help...

<img width="1294" alt="Screenshot 2019-10-26 at 10 42 29" src="https://user-images.githubusercontent.com/1023438/67

[2019-10-26 10:55] mauroreisvieira commented on #25
Hi @f8ttyc8t thanks a lot for you help. I forgot the rename the path for images with out "-".

I guess now is fixed on version 3.0.3.

[2019-10-26 12:15] zpreston123 opened #26 "Settings and Theme Configuration"
Entered "Meetio: Edit Settings" and got the following error:
<img width="1280" alt="Screen Shot 2019-10-26 at 8 03 53 AM" src="https://user-images.githubusercontent.com/11165740/67619265-6a91bf80-f7c7-11e9-864e-4610deddddf3.png">

Also entered "Meetio: Theme Configuration" and got the following error:
<img width="1280" alt="Screen Shot 2019-10-26 at 8 04 04 AM" src="https://user-images.githubuserc

[2019-10-26 12:17] mauroreisvieira commented on #26
Hi @zpreston123 TY for report I'm work on this.

Sorry for that.

[2019-10-26 15:43] f8ttyc8t commented on #25
@mauroreisvieira Works like a charm now - thank you very much for sharing your work with community!

(btw. helping you sorting out glitches is the least I can do)

[2019-10-26 16:33] zpreston123 commented on #26
Just got the updated theme.
The commands work except the Theme Configuration option in the file menu.

[2019-10-26 20:51] mauroreisvieira commented on #25
Hi @f8ttyc8t it's a big help. Thanks for your feedback and for use Meetio.

[2019-10-26 20:52] #25 closed, assigned to nobody

[2019-10-26 20:53] mauroreisvieira commented on #26
Hi @zpreston123 thanks for your report, fixed in new version.

[2019-10-26 20:53] #26 closed, assigned to nobody

[2019-10-26 22:53] zpreston123 commented on #26
Great, it works!  Thank you.

[2019-12-15 20:20] zpreston123 commented on #22
@mauroreisvieira Any update on this?

[2019-12-16 12:15] mauroreisvieira commented on #22
Hi @zpreston123 unfortunately ST not support custom colors in title bar.

[2019-12-22 18:11] nicksspirit commented on #22
I see so do we close this issue for now @mauroreisvieira

[2019-12-27 11:07] #22 closed, assigned to mauroreisvieira

[2020-01-30 13:16] zpreston123 opened #27 "Next Release"
Not an issue - just checking when the next release will be available?

[2020-01-30 14:05] mauroreisvieira commented on #27
Hi @zpreston123 probably on next weekend.

[2020-02-05 16:03] mauroreisvieira commented on #27
@zpreston123 new version available.

[2020-02-05 16:03] #27 closed, assigned to nobody

[2020-02-06 23:12] TerminalFi opened #28 "Missing Styling on Various Dialogs"
Some dialogs are missing Meetio's amazing styling.

[code]

<img width="566" alt="2020-02-06_18-06-12" src="https://user-images.githubusercontent.com/32599364/73986421-8e5aba80-490b-11ea-8e35-b6b45280219a.png">

[2020-02-06 23:17] TerminalFi commented on #28
Potentially a Sublime Text limitation, investigating.

[2020-02-07 00:23] TerminalFi commented on #28
OS level dialogs. Not stylable.

[2020-02-07 00:23] #28 closed, assigned to nobody

[2020-02-22 23:05] TerminalFi opened #29 "Errors parsing theme: must be a vector or a map with a "rules" key in Packages/Meetio Theme/Meetio-Theme.sublime-theme:1:1"
I have the latest release from PackageControl and on startup, the console shows the following error

`Errors parsing theme:
  must be a vector or a map with a "rules" key in Packages/Meetio Theme/Meetio-Theme.sublime-theme:1:1`

ST version: 4067 osx x64 channel: dev

[2020-02-26 11:58] mauroreisvieira commented on #29
Hi @TheSecEng I can't reproduce that issue, since my theme is installed directly from Github, but I will install Meetio Theme in other machine via Package Control to test.

Thanks for your report!

[2020-02-26 13:52] TerminalFi commented on #29
Very interesting, let me try updating to the latest commits vs PC and see if it is resolved.

**Update**: Yes, even after fully removing Meetio then doing a git clone and moving it accordingly, that message persists

[2020-02-28 09:50] mauroreisvieira commented on #29
it is likely that the error in the theme comes from the fact that Meetio Theme is extending a JSON file.

But I will test.

[2020-03-01 20:56] mauroreisvieira commented on #29
Hi @TheSecEng  sorry for the delay.
Please check if it's fixed on new version.

[2020-03-03 14:06] TerminalFi commented on #29
Hey @mauroreisvieira the problem persists. I will do a clean install of Sublime and validate to rule out my environment.

[2020-03-03 19:50] TerminalFi commented on #29
A full, fresh install of sublime and reconfiguration resolved this issue. Sorry for the confusion. Not sure what package was conflicting.

[2020-03-03 19:50] #29 closed, assigned to nobody

[2020-03-04 15:48] Remillard opened #30 "Language Specific Contexts"
I'd really appreciate it if you would make a conscious effort to stop scoping all the way to the language in a lot of cases.  I'm developing for VHDL and am in the process of rewriting the syntax.  During testing, I put in just a simple one for boolean "true".  White text.  I check the scope on the text and it is correct, `constant.language.vhdl`.  I think "Hey this is strange, I'm sure booleans i

[2020-03-04 22:12] Remillard opened #31 "Additional contexts to cover"
Suggested additional scopes to cover in a generic way

`support.name`

(More to come as I rework this syntax definition and find things that Meetio doesn't do)

[2020-03-05 11:59] mauroreisvieira commented on #30
Hi @Remillard it's a good point, to resume that it's basically remove the specificity of scope right?

[2020-03-05 12:05] mauroreisvieira commented on #30
I build this tool to help me to generate schemes for sublime, and I'm using it on Meetio.

https://github.com/meetio-theme/scheme-generator

My question is, for syntax like Vue or JSX/TSX, SCSS I still need the specificity right?

[2020-03-05 13:32] Remillard commented on #30
Yes, basically your selectors go from most general to most specific with each accessor `.<term>`.  If you want a selector to work for only C+ comments you'd probably have something like `comment.block.cpp`.  If you wanted the same selector to work for ALL languages that had a block comment you'd just use `comment.block`, then any syntax writer that defines a comment block (e.g. `comment.block.vhdl

[2020-03-05 13:38] Remillard commented on #30
Looked at your generator.  The whole language specific thing is really backwards to the goal of using syntax language selectors.  That document I linked above has the scopes that are going to be used by 99% of languages with only mild variations between them.  Cover those FIRST then if there's some sort of oddball language specific one, then use the selector all the way down to the language and co

[2020-03-05 14:06] mauroreisvieira commented on #30
Thanks a lot for your feedback. It's optimize a lot my work.

[2020-03-05 14:16] Remillard commented on #30
I look forward to seeing the update!

[2020-03-05 15:38] mauroreisvieira commented on #30
It's more or like this: https://github.com/meetio-theme/scheme-generator/blob/master/src/rules/comment.ts

[2020-03-05 16:08] Remillard commented on #30
I don't know exactly what I'm looking at, but perhaps it's your precursor to a color scheme.  Well those are language inspecific scope selectors so that's a good start.

My original comment was concerning `constant.language` but I figured there were a lot more in there.  And I have that other issue where I was adding things I thought might be interesting to identify `support.name` (which are basic

[2020-03-06 16:41] mauroreisvieira commented on #30
Hi @Remillard I'm finish the scopes: https://github.com/meetio-theme/sublime-meetio-theme/blob/master/schemes/Meetio-Theme-Dark.sublime-color-scheme

[2020-03-06 17:42] Remillard commented on #30
I looked through it and I think it's an improvement.  It looks like you have very few language specific selectors, and I took some of those and went back and it looks like you have generic versions of those selectors too, so that's exactly the right way to do this (in my opinion.).  I didn't do a 100% check, but everything I checked looked like I would expect.  I hope the exercise helps.  If you e

[2020-03-09 09:43] mauroreisvieira commented on #30
Hi @Remillard yes, during this week I will try to lunch a new version of Meetio Theme.

Thanks for you feedback.

[2020-03-13 14:15] TerminalFi opened #32 "[Python] Missing function highlighting"
**What**
The theme is failing to highlight functions when passed as a argument to other functions.

As you see below, lower() is missing the correct highlighting when passed as a param to a function.

<img width="171" alt="image" src="https://user-images.githubusercontent.com/32599364/76628697-8649f800-6513-11ea-87be-d3e665ffc517.png">

[2020-03-13 14:18] TerminalFi commented on #32
I see this is fixed in the unreleased code

[2020-03-13 14:18] #32 closed, assigned to nobody

[2020-03-26 01:48] zpreston123 opened #33 "React JS Syntax Highlighting Missing"
Theme appears to be missing React JS syntax highlighting.

Here's an example screenshot:
<img width="1280" alt="Screen Shot 2020-03-25 at 9 51 47 PM" src="https://user-images.githubusercontent.com/11165740/77602079-e614ab80-6ee2-11ea-8ca9-977c22c357d4.png">

Example code is from https://www.w3schools.com/REACT/default.asp.

[2020-03-28 21:34] mauroreisvieira commented on #33
It's required install the Babel package to resolve this issue.

[2020-03-29 14:12] zpreston123 commented on #33
Installed the Babel package and switched to JavaScript (Babel) syntax.

Here's a screenshot with same example code as above:
<img width="1280" alt="Screen Shot 2020-03-29 at 9 48 21 AM" src="https://user-images.githubusercontent.com/11165740/77850778-af6cb880-71a2-11ea-8eb9-20dd958ec97e.png">

Here are a few more example screenshots:
<img width="1280" alt="Screen Shot 2020-03-29 at 9 56 59 AM" src

[2020-03-29 18:27] mauroreisvieira commented on #33
This issue will be solved on version 4.0.0.

Thanks for you report.

[2020-03-31 14:15] TerminalFi opened #34 "Python highlight issue with function as parameter"
**Issue**
When commands are passed as parameters some of the highlighting is missing or incorrect.

See `str()`

<img width="403" alt="image" src="https://user-images.githubusercontent.com/32599364/78036546-6cdce480-7338-11ea-9900-cc54f2aa4b02.png">

[2020-03-31 14:24] mauroreisvieira commented on #31
Version 4.0.0 is out

[2020-03-31 14:24] #31 closed, assigned to nobody

[2020-03-31 14:25] #30 closed, assigned to nobody

[2020-03-31 14:25] mauroreisvieira commented on #33
Version 4.0.0 is out!

[2020-03-31 14:25] #33 closed, assigned to nobody

[2020-03-31 15:07] mauroreisvieira commented on #34
Hi @TheSecEng, is strange because now I don't specify the scopes for specific language, so it's should work. But I will check.

[2020-04-01 17:26] #34 closed, assigned to nobody

[2020-04-03 00:24] TerminalFi opened #35 "Git Syntax Support"
**Is your feature request related to a problem? Please describe.**
With git going hand and hand with development, we should support git syntax.

**Describe the solution you'd like**
Add git syntax scopes to being colored.

Git Scopes can be found in the Git Formats package that ships with Sublime Merge

[2020-04-03 15:53] mauroreisvieira commented on #35
Hi @TheSecEng I not understand the issue, can you send me some link with git scopes, and provide some screen shoot of the issue?

[2020-04-03 17:01] TerminalFi commented on #35
https://github.com/sublimehq/Packages/tree/master/Git%20Formats

This is a default package with ST

[2020-04-03 22:43] mauroreisvieira commented on #35
Thanks for your report. It's fixed on v4.1.0!

<img width="620" alt="Screenshot 2020-04-03 at 23 42 28" src="https://user-images.githubusercontent.com/3084774/78410653-e14ba800-7604-11ea-8a10-5df902ec6a04.png">

[2020-04-03 22:43] #35 closed, assigned to nobody

[2020-04-06 16:07] TerminalFi opened #36 "Incorrect class name"
I will submit a PR tonight if @mauroreisvieira doesn't beat me to fixing it.

**What**
In the find bar, the in selection icon is missing the hover attribute. This is due to an incorrect class name. See below.
`in_selection` should be `icon_in_selection`
https://github.com/meetio-theme/sublime-meetio-theme/blob/cd8a0450a5173fb7f2bba0f84460c96f9fa301da/scripts/theme/files/buttons.json#L114-L118

**R

[2020-04-06 17:23] mauroreisvieira commented on #36
Hi @TheSecEng thanks for you catch, please make a PR I will accept.

[2020-04-07 12:18] #36 closed, assigned to TerminalFi

[2020-04-13 16:45] TerminalFi opened #38 "Invalid rule properties for auto_complete class"
**Describe the bug**
invalid properties for auto_complete classes
**To Reproduce**
Steps to reproduce the behavior:
1. Open a file
2. Type a character to trigger auto complete
3. Open console
4. See error

[code]

[2020-04-13 16:56] mauroreisvieira commented on #38
Ho @TheSecEng, thanks for you report. Please check if the issue was resolved.

[2020-04-13 17:10] TerminalFi commented on #38
Resolved

[2020-04-13 17:10] #38 closed, assigned to nobody

[2020-05-11 15:18] TerminalFi opened #40 "Comment Scoping"
**Describe the bug**
Some syntax definitions fail to define comments on a `comment.line` or `comment.block` level, should we support `comment` as well, since more specifics will match, this wont impact `line` or `block`

**To Reproduce**
Steps to reproduce the behavior:
1. Install Dockerfile (Syntax) from PC
2. Insert a Comment. The `#` will be colored correctly while the actual comment will be co

[2020-05-11 15:19] TerminalFi commented on #40
@mauroreisvieira should this be something we include? Or should we open issues on the syntax repo's to better scope their comments

[2020-05-11 15:25] mauroreisvieira commented on #40
Hi @TheSecEng I guess you can go with your fix approach:

[code]

because with this, we can coverage other cases.

[2020-05-12 09:32] #40 closed, assigned to nobody

[2020-07-04 13:57] gz71422 commented on #22
Start sublime and run python script
hide title bar

import win32gui
import win32api
import win32con
hwnd = win32gui.FindWindow('PX_WINDOW_CLASS',None)
style = win32api.GetWindowLong(hwnd, win32con.GWL_STYLE)
win32api.SetWindowLong(hwnd,win32con.GWL_STYLE,style & ~win32con.WS_BORDER & ~win32con.WS_THICKFRAME & ~win32con.WS_DLGFRAME)
win32gui.ShowWindow(hwnd,win32con.SW_MINIMIZE)
win32gui.ShowWindow

[2020-07-10 19:10] TerminalFi opened #41 "Builtin Typescript Support"
**Is your feature request related to a problem? Please describe.**
With ST 4076, there is builtin Typescript which supports TSX (React) but highlighting is not accurate.

**Describe the solution you'd like**
implement scheme rules for proper highlighting

[2020-07-13 15:18] TerminalFi commented on #41
Non Issue, ST Syntax doesn't support TSX

[2020-07-13 15:18] #41 closed, assigned to nobody

[2020-08-20 12:35] TerminalFi opened #42 "Invalid Property"
**Describe the bug**
The property `font.italic` is not valid on `quick_panel_path_label`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to LSP Document Symbols

[code]

`no such prop font.italic when matching quick_panel_path_label against quick_panel_path_label`

[2020-08-20 13:29] willrowe opened #43 "Find in Files result file name color missing"
**Describe the bug**
When running Find in Files, the results does not color the file name. It ends up being white, which is the same color as the code context itself, making it very difficult to see when you have scrolled into a new file.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Find in Files.
2. See the results.

**Expected behavior**
The file name should have a different color t

[2020-08-20 13:32] TerminalFi commented on #43
Thanks for the feedback. We will have a fix for this in the next release

[2020-08-20 13:43] #43 closed, assigned to nobody

[2020-08-20 13:44] mauroreisvieira commented on #42
Hi @TheSecEng thanks for report.

[2020-08-20 13:45] TerminalFi commented on #42
@mauroreisvieira I am fixing it now and will push a PR

[2020-08-20 13:46] mauroreisvieira commented on #42
Thanks so much @TheSecEng.

[2020-08-20 13:52] #42 closed, assigned to TerminalFi

[2020-08-20 14:22] TerminalFi commented on #43
@willrowe a new package has been release so running `Package Control: Upgrade Package` should allow you to pull the latest

[2020-08-20 17:37] willrowe commented on #43
Great, thank you so much!

[2020-08-25 17:11] TerminalFi opened #46 "Quick Panel `quick_panel_path_label` link_color property"
**Describe the bug**
ST 4083+ introduced mini_html inside of the quick panel. Now we have links that are clickable.

**To Reproduce**
Steps to reproduce the behavior:
1. Package Control: Install Packages
2. Scroll down to

**Expected behavior**
A clean and clear color blue for links

**Screenshots**

![image](https://user-images.githubusercontent.com/32599364/91205963-6890d980-e6d4-11ea-8a21-4b3e5

[2020-08-26 09:27] mauroreisvieira commented on #46
Thanks @TheSecEng for reporting that, I will try to solve that.

[2020-08-26 10:52] TerminalFi commented on #46
It just requires that `quick_panel_path_label` get a `link_property`  Tested locally and it worked.

[2020-08-26 10:59] mauroreisvieira commented on #46
@TheSecEng can you provide a snippet code to see?

[2020-08-26 11:04] TerminalFi commented on #46
Sure, this is in my override

[code]

Which results in a nice look

![image](https://user-images.githubusercontent.com/32599364/91296345-7729d000-e76a-11ea-87c4-d28a1c680546.png)

[2020-08-26 11:19] mauroreisvieira commented on #46
I can't reproduce that :(

![Screenshot 2020-08-26 at 12 18 52](https://user-images.githubusercontent.com/3084774/91297502-56776f80-e796-11ea-9b15-547a817764a3.png)

[2020-08-26 11:54] TerminalFi commented on #46
It’s not released in PC yet. But it’s in master

[2020-08-26 12:57] mauroreisvieira commented on #46
Ok. Let's wait for release.

[2020-11-28 02:42] abathur commented on #46
Theme updated today after my first reboot in a few weeks. Noticed foreground color in some inputs/quick panel was off. I am not sure this is the cause, but I did open my console to a few thousand of these:

[code]

Dev channel build 3210.

[2020-11-30 09:59] mauroreisvieira commented on #46
Hi @abathur, this error in you console it's expected because `link_color` it's a feature of ST4.

But I will try to fix that.

Thanks for your report.

[2020-11-30 15:21] abathur commented on #46
@mauroreisvieira Yep--I'm aware.

If it's just a warning it's not a huge deal (though the message is pretty spammy--I had over 2300 lines in my console), but I only *noticed* it because something broke my input foreground color, and I went looking for clues. I ran out of energy to try and fix the issue--I'll just live with the break for a while--but I wanted to mention it in case it's having other

[2020-12-09 23:53] mauroreisvieira commented on #46
@abathur https://github.com/wbond/package_control_channel/pull/8115

I'm create a PR in Package Controle to have different branches depending of ST version.

[2020-12-15 12:00] mauroreisvieira commented on #46
@abathur fixed in release 3179-4.6.0

[2020-12-15 12:00] #46 closed, assigned to TerminalFi

[2021-04-09 17:41] TerminalFi opened #47 "Missing Control: sidebar_button_control"
**Describe the bug**
Currently missing the `sidebar_button_control` which is what is displayed in the lower right hand corner.

**Issue**
![image](https://user-images.githubusercontent.com/32599364/114219796-fcd84580-991f-11eb-84ff-501aa5d0ec75.png)

**Resolved Appearance**
![image](https://user-images.githubusercontent.com/32599364/114219882-1ed1c800-9920-11eb-82a7-3a27ac52268e.png)

[2021-04-12 12:21] mauroreisvieira commented on #47
Hey @TheSecEng thanks, I will fix that ASAP.

[2021-04-12 15:27] #47 closed, assigned to nobody

[2021-04-12 15:28] TerminalFi commented on #47
Unable to reproduce

[2021-04-23 05:30] TerminalFi opened #48 "Move this property to quick_panel_detail_label"
The **link_color** field now applies to `quick_panel_detail_label` instead of `quick_panel_path_label`.

https://github.com/meetio-theme/sublime-meetio-theme/blob/06a451af22a05fa2b461cf1d533af3ffbf4ff9d0/src/theme/files/quick_panel.json#L64

We need to remove `link_color` from `quick_panel_detail_label` and add a new rule

[code]

[2021-04-26 13:30] #48 closed, assigned to nobody

[2021-05-21 22:05] TerminalFi opened #49 "Asset doesn't exist"
https://github.com/meetio-theme/sublime-meetio-theme/blob/98471b266aa587d0121639c77a02050f1e7783cd/Meetio%20Theme.sublime-theme#L1344

[2021-05-21 22:09] TerminalFi opened #50 "Missing Texture"
https://github.com/meetio-theme/sublime-meetio-theme/blob/98471b266aa587d0121639c77a02050f1e7783cd/Meetio%20Theme.sublime-theme#L1632

[2021-05-26 13:41] #49 closed, assigned to mauroreisvieira

[2021-05-26 13:44] mauroreisvieira commented on #50
I will remove it. It's only required for < 4050

[2021-05-26 13:44] #50 closed, assigned to mauroreisvieira

[2021-05-28 21:18] zpreston123 opened #51 "Configuration Settings Disappeared"
**Describe the bug**
When opening the Default Configuration, existing settings prior to the update are no longer shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Open command palette.
2. Enter "Meetio Theme: Default Configuration".
3. Results are shown with empty "variables" object.

**Expected behavior**
Existing settings would appear in Default Configuration.

**Screenshots**
<img wi

[2021-05-28 21:33] zpreston123 opened #52 "High Contrast Configuration Option"
**Describe the bug**
When opening High Contrast Configuration option, an error is displayed.
Also, the option and settings file name are misspelled.

**To Reproduce**
Steps to reproduce the behavior:
1. Open command palette.
2. Enter "Meetio Theme: Hight Contrast Configuration" (misspelling in "High").

**Expected behavior**
High Contrast Configuration settings would be displayed.

**Screenshots**

[2021-05-28 23:16] #52 closed, assigned to nobody

[2021-05-28 23:19] mauroreisvieira commented on #51
Hey @zpreston123 thanks for your feedback.

That is not an issue, the problem is, now the name has changed from `Meetio-Theme` to `Meetio Theme` and will lose old customizations since the path are different.

[2021-06-02 03:10] zpreston123 commented on #51
OK, is the issue resolvable so the old configuration settings are restored?

[2021-06-10 01:20] zpreston123 commented on #51
@mauroreisvieira Found the old configuration file in the User directory, then copied and pasted the settings into the new configuration file.

Would it be possible to fix the theme, so the next version would handle the transfer automatically?

[2021-06-12 14:35] TerminalFi opened #53 "Invalid variable in hidden themes"
**Describe the bug**
Variables that don't exist are being used

**To Reproduce**
Steps to reproduce the behavior:
1. Unsure, appear in console randomly

**Additional context**

[code]

[2021-06-12 14:38] #53 closed, assigned to nobody

[2021-06-12 14:40] TerminalFi opened #54 "Old Asset being Used"
**Describe the bug**
An old asset from the Default theme is being used

**To Reproduce**
Steps to reproduce the behavior:
1. Open Sublime
2. View Console

**Expected behavior**
No error

`'Theme - Default/common/dark/tab_dirty.png'` is not longer valid and should be `'Theme - Default/common/tab_dirty.png'`

[2021-06-15 09:32] mauroreisvieira commented on #51
Hey, @zpreston123 it's a good question, I need to investigate a bit.

@TheSecEng do you have any idea if it's is possible?

[2021-06-15 09:37] mauroreisvieira commented on #54
Hey, thanks for report

[2021-06-15 09:54] #54 closed, assigned to nobody

[2021-06-24 10:40] arturomartin opened #55 "Search icon not showing in quick panel"
The search icon does not show in quick panel although the setting is set to true: `"meetio_input_search_icon": true`

**Screenshot:**
<img width="688" alt="Screenshot on 2021-06-24 at 11-25-03" src="https://user-images.githubusercontent.com/234412/123249153-95727080-d4e0-11eb-928a-5c0fecd6fb6f.png">

[2021-06-24 17:34] mauroreisvieira commented on #55
Hey @arturomartin, can you tell me what version of Sublime Text we are using and the OS?

[2021-06-25 08:18] arturomartin commented on #55
Of course, @mauroreisvieira
- Sublime Text 4, Dev Channel, **Build 4109**
- macOS Big Sur, **11.4**

[2021-06-25 10:33] mauroreisvieira commented on #55
Hey, @arturomartin please check if the new version solves that issue.

[2021-06-28 08:37] arturomartin commented on #55
Sorry for the late answer, @mauroreisvieira

No, it doesn't seem it solved it :(

<img width="760" alt="Screenshot on 2021-06-28 at 09-37-00" src="https://user-images.githubusercontent.com/234412/123606110-7895b000-d7f4-11eb-9cc6-21b6ff212c4e.png">

[2021-06-28 09:06] mauroreisvieira commented on #55
Hum, very strange, can you please remove that `"meetio_input_search_icon"` from your settings? By default, the icon should appear.

[2021-06-28 10:00] arturomartin commented on #55
I just did it and it's still not showing up. I even deleted all my settings (both of Meetio and Sublime Text) just to see if there was something causing it but no luck…

[2021-06-28 10:03] mauroreisvieira commented on #55
Can you please remove the Meetio Theme and install it again?

It seems that the icon is rendered, but without any color.

[2021-06-28 10:20] arturomartin commented on #55
<img width="1013" alt="Screenshot on 2021-06-28 at 11-15-46" src="https://user-images.githubusercontent.com/234412/123620783-7df9f700-d802-11eb-9a86-c5c88ba1c7a4.png">

After reinstalling, at first it seems the search icon is disabled by default, as you can see in the screenshot. If I try to enable it, the result is the same as in the previous screenshots.

[2021-06-28 10:25] mauroreisvieira commented on #55
If you change between `Meetio Theme` and `Meetio Theme High Contrast` the result is the same?

Can you please, open the console and check if exists any error?

[2021-06-28 10:39] arturomartin commented on #55
Yes, the result is the same.

The console doesn't show any kind of error, it just prints `reloading settings Packages/User/Preferences.sublime-settings`.

Maybe there's something wrong with the image itself? Don't think so, as I checked it in the package and it seems to be fine, but I'm running out of ideas :P

[2021-06-28 10:43] arturomartin commented on #55
Mmm, sorry, my bad, I just found this in the console, but maybe it was when deleting and reinstalling the theme?:

[code]

**Edit:**

Just unistalled and reinstalled it again and those errors are not showing anymore in the console:

[code]

[2021-06-28 10:44] mauroreisvieira commented on #55
Ok, let's try that:

- Install [PackageDev](https://packagecontrol.io/packages/PackageDev).
- Go to command palette type: "PakageDev: Edit Current Theme"
- Paste the following snippet:

[code]

The result:

<img width="1715" alt="Screenshot 2021-06-28 at 11 45 40 AM" src="https://user-images.githubusercontent.com/3084774/123624398-6a508f80-d806-11eb-995a-8e6cff7033e5.png">

[2021-06-28 10:54] arturomartin commented on #55
I did that a few days ago, trying to force a color on that icon but no luck. I did it again now using just your snippet and PackageDev. No luck. It makes no sense…

<img width="1783" alt="Screenshot on 2021-06-28 at 11-51-27" src="https://user-images.githubusercontent.com/234412/123625212-712bd200-d807-11eb-94dd-572f03b48c88.png">

[2021-06-28 11:01] mauroreisvieira commented on #55
Hey, can you pelase test to add that options in your settings:

[code]

[2021-06-28 11:04] arturomartin commented on #55
I think you found it… Any value below 5 makes the icon disappear.

<img width="895" alt="Screenshot on 2021-06-28 at 12-03-00" src="https://user-images.githubusercontent.com/234412/123626550-df24c900-d808-11eb-8f60-f70570c60bf4.png">

[2021-06-28 11:07] mauroreisvieira commented on #55
That blows my mind.

If the value of line padding is smaller than 5 the icon disappears.
I will try to understand the problem.

Thanks for the report and the help to find the issue.

I will warn you when that issue was solved.

[2021-06-28 11:09] arturomartin commented on #55
No, thanks to you @mauroreisvieira
Meetio is the best and most versatile theme I've used in a long time :)

[2021-06-28 11:11] mauroreisvieira commented on #55
Thank you so much for your words. 🙏🏻

Any suggestion to improve it's welcome.

[2021-06-28 14:55] #55 closed, assigned to mauroreisvieira

[2021-06-28 14:57] mauroreisvieira commented on #55
Hey, @arturomartin issue solved.
Against thanks for your report.

[2021-06-28 16:42] arturomartin commented on #55
That was fast! Thanks a lot!

[2021-07-02 04:53] TerminalFi commented on #51
Sorry for the delay. This would only be an issue if we change the name again. @mauroreisvieira do we plan on changing the actual name of the themes anymore? If not, than this can be closed.

If so, we can just add some logic into our python code for this.

[2021-07-05 08:38] mauroreisvieira commented on #51
Hey @TheSecEng nop, that will be the final name for Meetio.

[2021-07-16 08:19] jfcherng opened #56 "Maximize /minimize window buttons are invisible"
**Describe the bug**
Maximize /minimize window button is invisible on Win10 21H1.

**To Reproduce**
Steps to reproduce the behavior:
1. Use `Meetio Theme.sublime-theme`
2. Use *any* light color scheme, such as `Meetio Lighter.sublime-color-scheme`
3. You can't see the maximize window and minimize window buttons.

**Expected behavior**

Maximize window and minimize window buttons should be visible.

[2021-07-16 10:32] mauroreisvieira commented on #56
Hey @jfcherng thanks for your report, I check that ASAP.

[2021-08-22 21:19] #51 closed, assigned to nobody

[2021-09-23 11:57] willrowe opened #57 "Low contrast on command name in palette"
**Describe the bug**
When running a command with input in the command palette, both the foreground and background color are dark. This is happening with the Sublime Merge theme as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Set the theme to `Meetio Theme High Contrast.sublime-theme`.
2. Set the color scheme to `Meetio Deepocean`.
3. Open the command palette
4. Select `Arithmetic`.

[2021-09-24 08:55] mauroreisvieira commented on #57
Hey @willrowe thanks for the report, will be fixed ASAP:

[2021-10-14 14:38] willrowe commented on #57
@mauroreisvieira any update on this?

[2021-10-14 15:23] TerminalFi commented on #57
Hey! Let me look into this

[2021-10-14 15:45] TerminalFi commented on #57
@willrowe @mauroreisvieira

The problem is that our Color Schemes are defining these three properties

[code]

Sublime Text has a bug that if these are defined, they override all values. It should combine them with the default values but it doesn't. This is causing the bug that is listed in this ticket as well as a bug for popups and html content.

@mauroreisvieira we need to remove these three se

[2021-10-14 16:00] mauroreisvieira commented on #57
Hey, @TheSecEng thanks a lot for your help. I will fix that.

[2021-10-14 16:03] #57 closed, assigned to mauroreisvieira

[2021-10-18 13:19] willrowe commented on #57
Thanks! That fixed it.

[2021-10-31 20:39] jingyuexing opened #58 "Can you support using the active command to enable this theme?"
**Is your feature request related to a problem? Please describe.**
I want to use the active command to enable meetio, but look like not support
![image](https://user-images.githubusercontent.com/19589872/139600400-b6bc2a7e-4129-4788-99ba-fdf47de5bde9.png)
![image](https://user-images.githubusercontent.com/19589872/139600419-540bb65a-d7d9-4c24-8a7e-d6223008376e.png)

**Describe the solution you'd l

[2021-11-02 10:39] mauroreisvieira commented on #58
Hey @jingyuexing.

That option was removed from Meetio, since ST already supports a `Select Scheme` and `Select Theme`from Command Pallete.

<img width="620" alt="Screenshot 2021-11-02 at 10 38 55 AM" src="https://user-images.githubusercontent.com/3084774/139831515-3f3b389b-b977-474a-b843-0aeb1b58fe4b.png">

[2021-11-03 12:54] jingyuexing commented on #58
thanks for the answer.

[2021-11-03 12:57] jingyuexing commented on #58
By the way, this project is funky

[2021-11-05 01:02] #58 closed, assigned to nobody

[2022-01-19 01:40] zpreston123 commented on #56
Any status on this bug?

[2022-01-21 11:33] #56 closed, assigned to mauroreisvieira

[2022-01-21 11:39] mauroreisvieira commented on #56
Hey, @zpreston123 sorry for the delay. It's fixed in the new version.

Thanks.